:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messageContainer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}