<div class="firstPageContainer">
  <div class="sidepanel">
  </div>
  <form [formGroup]="playersForm"  class="form">
    <div class="name">
      <h1 class="mat-display-1">Gomoku</h1>
    </div>
    <!--Player 1-->
    <div class="player">
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="Player 1" />
        <mat-error >
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Color" matInput formControlName="firstColor">
          <mat-option *ngFor="let color of colors" [value]="color.color">
            <div class="colorContainer">
              <div class="colorExample" [style.background-color]="color.color"></div>
              <div class="colorName">{{color.name}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <!--Player 2-->
    <div class="player">
      <mat-form-field>
        <input formControlName="secondName" matInput placeholder="Player 2" />
        <mat-error>
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Color" matInput formControlName="secondColor">
          <mat-option *ngFor="let color of colors" [value]="color.color">
              <div class="colorContainer">
                  <div class="colorExample" [style.background-color]="color.color"></div>
                  <div class="colorName">{{color.name}}</div>
                </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <!--Size-->
      <div class="thirdRowContainer">
      <mat-form-field>
        <mat-select placeholder="Bord size" matInput formControlName="startBordSize">
          <mat-option *ngFor="let size of startBordSize" [value]="size">
            {{size}}
            <span class="TODOcolorExample"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
        <div class="buttonContainer">
          <button mat-raised-button color="primary" [disabled]="playersForm.invalid" (click)="onStart()">Start</button>
        </div>
    </div>
    <div class="errorConainer">
      <mat-error *ngIf="playersForm.hasError('namesMatch')">
        Names should differ
      </mat-error>
      <mat-error *ngIf="!playersForm.hasError('namesMatch')&&playersForm.hasError('colorsMatch')">
        Colors should differ
      </mat-error>
    </div>
   
  </form>
</div>
